:root {
    --light: #FFFBE6;
    --dark-blue: #284b79;
    --light-blue: #a8cef1;
    --highlights: #FCCD2A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#navbar {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 100px;
    background-color: var(--dark-blue);
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#navbar li {
    margin-right: 2rem;
}

#navbar li:last-of-type {
    margin-right: 0;
}

#navbar a {
    text-decoration: none;
    color: var(--light);
    padding: 5px;
    border-bottom: 2px solid transparent;
    transition: .3s;
}

#navbar a:hover {
    border-bottom: 2px solid var(--highlights);
    color: var(--light-blue);
}

/* Hero Section */

#hero-section {
    background-color: #b2b2b2;
    background-image: url(./img/david-carballar-FZU-vIW-lk8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    padding: 1rem;
}

#hero-section h2 {
    margin-bottom: 10rem;
    margin-left: 3rem;
    font-size: 5rem;
    color: var(--highlights);
    z-index: 1;
    text-wrap: pretty;
    /*max-width*/
}

#hero--controller {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

#hero--controller button {
    width: 20vw;
    background: none;
    cursor: pointer;
    border: none;
    color: transparent;
    text-align: start;
    padding: 1rem;
    transition: .3s;
    opacity: 0;
    color: #c5c5c5;
    font-weight: bolder;
    background: linear-gradient(90deg, #a6caeb60, #ffffff00);
}

#hero--controller button:last-of-type {
    text-align: end;
    background: linear-gradient(-90deg, #a6caeb60, #ffffff00);

}

#hero--controller button:hover {
    opacity: 1;
}

/* destinos*/
/* pacotes */
/* sobre */
/* contato */